*{padding:0px;margin:0px;box-sizing:border-box;direction:rtl;text-align:right;}

/* body{background-repeat: no-repeat;background-image: url("../img/background.jpg");background-position: center top;background-size:cover;} */
.fullScreen{width:100%;height:100vh;position:fixed;top:0px;right:0px;z-index:-1;}

.header{height:62px;width:100%;background-color:transparent;}
/* background-image: linear-gradient(to right,#e3c4ef,#9f0fd8); */
.d-flex{display:flex;flex-direction:row;justify-content:space-between;align-items:center;}

.rightInHead{margin-right:5%;}

.leftInHead{margin-left:5%;}

.btn{line-height:1.5rem;padding:4px;min-width:25%;text-align:center;border-radius:5px;cursor:pointer;}

.btn-head{background-color:transparent;}
.btn-purple{background-color:transparent;}

.btn-head:hover{border:1px solid white}
.btn-purple:hover{border:1px solid #6e117c}

.icons{list-style-type:none;margin-bottom:0px;height:50vh;display:flex;flex-direction:column;position:absolute;top:25%;}

.icons li{width:2.5rem;height:2.5rem;padding:3px;margin:3px;border-radius:100%}

.icon{width:100%;cursor:pointer;color:white}

.left{height:20vh;top:40%;left:10px;justify-content:space-around;}

.right{right:10px;justify-content:space-between;}

.text{position:absolute;top:25%;right:30%;color:white;margin-left:12%;}
.text-en{position:absolute;top:25%;left:30%;color:white;margin-right:12%;text-align:left!important;direction:ltr!important;}

.sliderBox{height:80vh;}

.next{position:absolute;top:47%;right:8px;z-index:100;cursor:pointer;}

.prev{position:absolute;top:47%;left:8px;z-index:100;cursor:pointer;}

.sliderBox .card{width:25%;position:absolute;margin-top:2.5rem;min-width:355px;transition: all 320ms;min-height:440px;}

.buttonsInCard{display:flex;justify-content: space-between;}

.bg-purple{background-color:#6e117c!important}
